__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
tests/
*.log
.git/
.dockerignore
.gitignore
Dockerfile
docker-compose.yml
